
.grid-container{
  font-size: 16px;
}

.footer{
  font-size: 14px;
}


/* create Product */
.create-product{
  font-size: 16px;
  margin: 10px;
}
.create-product h1{
  color: #007bff;
  margin-bottom: 20px;
}

.create-product label{
  margin: 5px;
}
.create-product input{
  margin: 5px 0px;
  height: 30px;
  font-size: 16px;
}

.create-product button{
  font-size: 16px;
  font-weight: bold;
  margin: 30px 0px;
}